.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.flex-wrapper{
  height: 221px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 22px;
}
#zone1{
  left: calc(52%);
  width: calc(20% - 6%);
}
#zone2{
  left: calc(82%);
  width: calc(40% - 6%);
}
#zone3{
  left: calc(62% - 150px);
  width: calc(10% - 6%);
}
button{
  padding: 3px;
  font-size: 28px;
}